# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django_projects\IPCAM_FR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
